.general-grid-view {
  overflow-x: auto; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the container width is 100% */
}

.general-grid-view__filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; /* White background */
  position: fixed;
  width: 100%;
  padding: 10px 0; /* Add some padding */
  z-index: 20; /* Make sure the header is on top of everything */
}

.general-grid-view__filter-container__icons {
  display: flex;
 
  align-items: center;
  width: 26%; /* Adjust width based on your design */
  justify-content: space-between; /* Center the icons horizontally */
}

/* Wrapper for each icon */
.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5vw; /* Relative size based on viewport width */
  height: 5vw; /* Keep container square and proportional */
  max-width: 100px; /* Limit maximum size for larger screens */
  max-height: 100px;
  border-radius: 50%; /* Circular wrapper */
  transition: background-color 0.7s ease, transform 0.6s ease; /* Smooth hover */
}

.selected {
    background-color: rgb(186, 185, 185); /* Grey background when selected */
  }

/* Apply the hover effect on the wrapper */
.icon-wrapper:hover {
  background-color: rgb(186, 185, 185); /* Grey background on hover */
}

/* The image remains unaffected */
.icon-wrapper img {
  max-width: 70%; /* Image adjusts based on the size of the wrapper */
  height: auto;
  transition: transform 0.6s ease; /* Smooth hover transform */
}


.selected{
    background-color: rgb(186, 185, 185); /* Grey background on hover */
}


.general-grid-view__card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  grid-gap: 50px; /* space between the cards (adjust as needed) */
  padding: 20px;

  max-width: 100%; /* Ensure it doesn't exceed the screen width */
  box-sizing: border-box; /* Include padding/border in width calculation */
}

.general-grid-view__header {
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-direction: row;
  padding: 20px;
}

.general-grid-view__header h1 {
  font-size: 3vw;
  font-weight: 600;
  margin: 0;
}

.custom-hr {
  height: 2px; /* Thickness of the line */
  background-color: #ccc; /* Line color */
  border: none; /* Remove any borders */
  width: 100%; /* Line width */
  margin: 20px 0;
}

@media (max-width: 768px) {
  .general-grid-view__card-row {
    grid-template-columns: repeat(3, 1fr); /* 2 cards per row on smaller screens */
  }
  .icon-wrapper {
    width: 15vw; /* Larger icons for smaller devices */
    height: 15vw;
    max-width: 80px;
    max-height: 80px;
  }

  .general-grid-view__filter-container__icons {
    width: 42%; /* Adjust width based on your design */
  }

  .icon-wrapper img {
    max-width: 48%; /* Image adjusts based on the size of the wrapper */
    height: auto;
    transition: transform 0.6s ease; /* Smooth hover transform */
  }
}

@media (max-width: 480px) {
  .general-grid-view__card-row {
    grid-template-columns: 1fr; /* 1 card per row on very small screens */
  }

  .icon-wrapper {
    width: 20vw; /* Even larger icons for very small devices */
    height: 20vw;
    max-width: 70px;
    max-height: 70px;
  }

  .icon-wrapper img {
    max-width: 38%; /* Image adjusts based on the size of the wrapper */
    height: auto;
    transition: transform 0.6s ease; /* Smooth hover transform */
  }

  .general-grid-view__filter-container__icons {
    width: 76%; /* Adjust width based on your design */
  }
}
