html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.general-grid-view {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the container width is 100% */
  padding: 0 16px;
}

.general-grid-view__filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* White background */
  width: 100%;
  padding: 10px 0; /* Add some padding */
  z-index: 20; /* Make sure the header is on top of everything */
}

.general-grid-view__filter-container__icons {
  display: flex;
  align-items: center;
  width: 22%; /* Adjust width based on your design */
  justify-content: space-between; /* Center the icons horizontally */
}

/* Wrapper for each icon */
.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.75vw;
  height: 3.75vw;
  position: relative;
  transition:
    background-color 0.7s ease,
    transform 0.6s ease;
}

.icon-wrapper p {
  margin: 8px;
  font-size: 0.7rem; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
.icon-wrapper::after {
  content: "";
  position: absolute;
  bottom: -8px; 
  left: 15%; 
  width: 70%; 
  height: 3px; /* Thickness of the underline */
  background-color: transparent; 
  transform: scaleX(0); /* Initially hidden */
  transform-origin: center; /* Expand from the center */
  transition:
    transform 0.3s ease,
    background-color 0.3s ease; /* Smooth appearance */
}

.icon-wrapper:hover::after {
  transform: scaleX(1); /* Show underline */
  background-color: gray; /* Set underline color */
}
.icon-wrapper.selected::after {
  transform: scaleX(1); /* Show underline */
  background-color: black; /* Set underline color */
}

/* The image remains unaffected */
.icon-wrapper img {
  max-width: 60%; /* Image adjusts based on the size of the wrapper */
  height: auto;
  transition: transform 0.6s ease; /* Smooth hover transform */
}

.scrollable {
  overflow-y: scroll;
  width: 100%;
  height: 70vh;
}

.general-grid-view__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Add some space between cards */
}

.general-grid-view__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0.6rem;
}

.general-grid-view__header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.custom-hr {
  height: 2px; 
  background-color: #ccc; /* Line color */
  border: none; /* Remove any borders */
  width: 100%; /* Line width */
  margin: 20px 0;
}

@media (max-width: 768px) {
  .icon-wrapper {
    width: 1vw; 
    height: 1vw;
    max-width: 80px;
    max-height: 80px;
  }

  .general-grid-view__filter-container__icons {
    width: 42%; /* Adjust width based on your design */
  }

  .icon-wrapper img {
    max-width: 48%; /* Image adjusts based on the size of the wrapper */
    height: auto;
    transition: transform 0.6s ease; /* Smooth hover transform */
  }
}

@media (max-width: 480px) {
  .icon-wrapper {
    width: 20vw; /* Even larger icons for very small devices */
    height: 20vw;
    max-width: 70px;
    max-height: 70px;
  }

  .icon-wrapper img {
    max-width: 38%; /* Image adjusts based on the size of the wrapper */
    height: auto;
    transition: transform 0.6s ease; /* Smooth hover transform */
  }

  .general-grid-view__filter-container__icons {
    width: 76%; /* Adjust width based on your design */
  }
}

@media (min-width: 1280px) {
  /* xl: for screens 1280px and up */
  .scrollable {
    height: 80vh;
  }
}

@media (min-width: 1536px) {
  /* 2xl: for screens 1536px and up */
  .scrollable {
    height: 87vh;
  }
}

.filter-sort-buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; /* Ensure proper spacing */
  padding-right: 3%;
}
