.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  height: 100%;
  background-color: #fff;
  padding: 2%;
  cursor: pointer;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.5s ease;
  transform: scale(1);
}

.card.active {
  border: 2px solid var(--primary-color);
  transform: scale(1.02);
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.card-content-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

.card-content-left img {
  object-fit: cover;
  width: 20%;
}
.vehicle-details {
  display: flex;
  flex-direction: column;
}

.vehicle-details img{
    width: 12%;
    object-fit: cover;

}

.vehicle-details p:first-child {
  font-size: 1.1rem;
  font-weight: 600;
}
.vehicle-details p:last-child {
  font-size: 0.9rem;
}

.card-content-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
  width: 25%;
  flex-wrap: wrap;
}

.car-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap; 

}  

